<div class="container">
  <div class="form-container">
    <div class="title">Create Account</div>
    <form [formGroup]="createAccountForm">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Enter a valid Email"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <div class="button-container">
        <button
          class="login-button"
          mat-raised-button
          color="primary"
          (click)="createUser()"
          [disabled]="createAccountForm.invalid"
        >
          Sign Up
        </button>
        <p>OR</p>
        <!-- {{ createAccountForm.value | json }} -->
        <button mat-button routerLink="/login">Login</button>
      </div>
    </form>
  </div>
</div>
